/* 작품 소개 */
.box {
    width: 70vw;
    height: 50vh;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .img {
    width: 28vw;
    height: 32vh;
    /* background-color: lightgray; */
    bottom: 10vh;
    left: 4vw;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.07), 0 6px 22px 0 rgba(0, 0, 0, 0.07);
    overflow: hidden;
    text-align: center;
}

.box .cover {
    width: 28vw;
    height: 32vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 1s;
    z-index: 1;
}

.box .img .icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    color: rgba(0, 0, 0, 0);
    z-index: 2;
}

.box .img:hover .icon{
    color: #fc073f;
}

.box .txt {
    width: 30vw;
    height: 20vh;
    /* border: 1px solid red; */
    bottom: 10vh;
    right: 4vw;
    font-family: '나눔스퀘어';
}

.txt h3 {
    font-weight: normal;
    margin-top: 2vh;
}

.txt p {
    bottom: 0.5vh;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.img img {
    width: 100%;
}

/* number 위치 잡기 */
.number {
    transform: translate(-50%, -55.5%);
    font-family: 'Cormorant Garamond', serif;
    font-size: 3.5rem;
    font-weight: 100;
    color: #fc073f;
}

.number p {
    top: 1vh;
    left: 4vw;
}

.number span {
    top: 1vh;
    left: 1.4vw;
    transform: rotateX(-180deg);
}