/* font */
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Edu QLD Beginner', cursive;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: "Engravers MT" */

/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;}
a {color: inherit; text-decoration: inherit; border: none;}
img {vertical-align: middle; border: none;}
ul, li {list-style: none;}

/* re */
.opa-0 {opacity: 0;}
.opa-1 {opacity: 1;}

/* layout */
body {
    overflow-x: hidden;
    background-color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* section.main */
section.main h1.title {
  width: 900px;
  position: relative;
  top: 75%;
  left: 68%;
  transform: translate(-68%, -75%);
  color: #fff;
  text-align: left;
  font-size: 80px;
  font-family: "Engravers MT";
  font-weight: lighter;
  z-index: 100;
}

section.main .title div {
  display: inline-block;
  letter-spacing: -18px;
}

section .mainImg {
  position: absolute;
  transition: all 1s;
}

section .designer {
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  z-index: 10;
}

section .chairs {
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}

/* section.about */
section.about .aboutTxt {
  position: absolute;
  width: 690px;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
}

section.about .aboutTxt p {
  color : #fff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 100;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
}

section.about .aboutTxt span {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

section.about .imageWrap img {
  right: 15%;
  width: 450px;
}

section .aboutTxt h2 {
  font-size: 150px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin-bottom: 30px;
}

section .aboutTxt p {
  font-size: 14px;
}

section .aboutTxt a {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  color: #fff;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  position: relative;
  text-align: right;
  transform: skewX(-15deg) translateX(5px);
  transition: all 0.15s;
}

section .aboutTxt a::before {
  content: ''; 
  width: 42px; 
  height: 1px; 
  background: #fff; 
  position: absolute; 
  right: 100px; 
  top: 45%; 
  transition: all 0.15s;
}

section .aboutTxt a:hover {
  transform: skewX(0deg) translateX(0px);  
  transition: all 0.3s;
}

/* innerWrap 텍스트 박스 */
.innerWrap {
  position: relative;
  z-index: 100;
  padding: 20px;
  width: 500px;
  /* height: 330px; */
  left: 45%;
  top: 50%;
  transform: translate(-45%, -50%);
  /* background: rgba(255, 255, 255, 0.2); */
}

.imageWrap {
  position: fixed;
  width: 100%;
  left: 0;
  top: 15%;
  /* border: 1px solid rebeccapurple; */
}

/* img */
.imageWrap img {
  position: absolute;
  width: 450px;
  transition : all 0.8s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform : translate(-100px, -150px) scale(0.5);
}

.imageWrap img:nth-child(1) {
  right: 10%;
} 

.imageWrap img:nth-child(2) {
  right: 10%;
  top: 350px;
  transition-delay: .1s;
  transform : translate(100px, 150px) scale(0.5);
}

.bestItem {
  color: #fff;
  position: fixed;
  top: 95%;
  left: 2%;
  transform: translate(-2%, -95%);
  font-weight: lighter;
  font-size: 150px;
  /* writing-mode: vertical-lr; */
  transition: all 0.3s;
  font-family: 'Raleway', sans-serif;
}

section h2 {
  color: #fff;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin-bottom: 40px;
}

section h3 {
  display: block;
  width: 500px;
  height: 500px;
  color: #fff;
  font-weight: 100;
  font-family: 'Edu QLD Beginner', cursive;
  writing-mode: vertical-rl;
  font-size: 2rem;
  position: absolute;
  top: 0%;
  right: 35%;
  transition : all 1s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

section p {
  color : #fff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 100;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
}

.innerWrap span {
  color : rgb(175, 175, 175);
  font-size: 11px;
  font-weight: 100;
  font-family: 'Noto Sans KR', sans-serif;
  display: block;
  margin-top: 20px;
}

.innerWrap a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: right;
  color : #fff;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  font-size: 16px;
  transform: skewX(-15deg) translateX(5px);
  transition: all 0.15s;
  position: relative;
}

.innerWrap a::before {
  content: ''; 
  width: 42px; 
  height: 1px; 
  background: #fff; 
  position: absolute; 
  right: 85px; 
  top: 45%; 
  transition: all 0.15s;
}

.innerWrap a:hover {
  transform: skewX(0deg) translateX(0px);  
  transition: all 0.3s;
}

/* 오른쪽 버튼 */
.pointWrap {
  position: fixed;
  right: 3vw;
  top: 40%;
  z-index: 100;
}

.pointWrap li {
  list-style: none;
  width: 6px;
  height: 6px;
  margin-top: 15px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  transition: background .3s ease-out;
}

.pointWrap li.active {
  background-color: #555;
}

/* section.journal */
section.journal {
  height: 150vh;
  /* border: 1px solid red; */
}

section.journal h2 {
  font-size: 150px;
  position: absolute;
  top: 30%;
  left: 83.5%;
  transform: translate(-83.5%, 30%);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

section.journal>ul {
  width: 80vw;
  position: relative;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -68%);
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

section.journal>ul li {
  position: relative;
  bottom: 0;
  display: inline-block;
  width: 500px;
  height: 360px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 1s;
  overflow: hidden;
  margin: 10px;
}

section.journal>ul li img {
  width: 100%;
  transition: all 1s;
}

section.journal>ul li:hover img {
  transform: scale(1.1);
}

/* 호버시 검정 투명박스 & 텍스트 */
section.journal>ul li span::before {
  content: '';
  position: absolute;
  width: 250px;
  height: 0;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(3, 3, 3, 0.4);
  z-index: 10;
  transition: all 0.3s;
}

section.journal>ul li span::after {
  content: 'Join Us'; 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  transition: all 0.4s; 
  transition-delay: 0.15s; 
  z-index: 100; 
  color: #fff; 
  line-height: 0.5;  
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  opacity: 0;
}

section.journal>ul li.journal2 span::after{
  content: 'A decade in Design';
}

section.journal>ul li.journal3 span::after{
  content: 'To the Letter';
}

section.journal>ul li.journal4 span::after{
  content: 'Woman Made';
}

section.journal>ul li span:hover::before {
  height: 250px;
}

section.journal>ul li span:hover::after {
  opacity: 1;
}

/* footer */
footer {
  width: 100vw;
  height: 20vh;
  /* border: 1px solid red; */
  position: absolute;
  bottom: 0;
  font-family: 'Raleway', sans-serif;
}

footer ul {
  width: 50vw;
  height: inherit;
  display: flex;
  justify-content: space-around;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

footer ul li {
  line-height: 1.5;
  margin-top: 50px;
  /* border: 1px solid red; */
}

footer ul li a {
  transition: all 0.3s;
}

footer ul li a:hover {
  color: rgb(198, 197, 197);
}

/* section.active 클래스 달렸을 때 */
section.active .imageWrap img {
  opacity: 1;
  visibility: visible;
  transform : translate(0, 0);
}

section.active .imageWrap h3 {
  opacity: 1;
  visibility: visible;
  transform : translate(0, 0);
}
